@media (max-width: 768px) {
  .header {
    display: block;
    width: 100%;
    position: fixed;
    top: 60vh;
    z-index: 2;
    background-color: white;
    
    &__logo-wrp {
        display: none;
          }
      
    &__nav {
        min-height: auto;
        width: 100%;
        height: 82px;
        border-top: 1px solid rgba(0, 0, 0, 1);
        border-bottom: 1px solid rgba(0, 0, 0, 1);
          }
    &__menu {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 16px;
          }
    &__menu-link:hover {
        font-weight: 700;
        border-bottom: 1px solid black;
          }
.mobile-menu {
  visibility: hidden;
  position: relative;
}
    &__menu-mobile-biography {
      @extend .mobile-menu;
          }
    &__menu-mobile-biography::after {
        visibility: visible;
        position: absolute;
        top: 0px;
        left: 95px;
        content: "B";
          }
    &__menu-mobile-designers {
      @extend .mobile-menu;
          }
    &__menu-mobile-designers::after {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 81px;
        content: "D";
          }
    &__menu-mobile-testimonials {
      @extend .mobile-menu;
          }
    &__menu-mobile-testimonials::after {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 104px;
        content: "T";
          }
    &__menu-mobile-strong-points {
      @extend .mobile-menu;
          }
    &__menu-mobile-strong-points::after {
        visibility: visible;
        position: absolute;
        top: 25px;
        left: 40px;
        content: "S";
          }
    &__menu-item {
        height: 82px;
        width: 92px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
          }
    &__menu-item:last-child {
        margin-right: 0;
          }
    &__menu-link {
    @include font ("Bitter", 400, 2.5rem, 3rem);
          }
        }
  .modal-btn {
          border-top: 1px solid black;
          border-bottom: 1px solid black;
        }
  .main-content {
        &__hero {
          height: 47.75rem;
          font-size: 1.125rem;
          line-height: 1.318rem;
          margin-bottom: 80px;
          flex-direction: column;
          background: url(../img/hero\ mobile.jpg) center/cover no-repeat;
          justify-content: flex-start;
      }
        &__hero-wrp {
          width: 100%;
          height: 21.5rem;
      }
        &__hero-title {
          @include font ("Playfair Display", 400, 4.375rem, 5.832rem);
          text-align: start;
      }
    }
  .section-title {
      font-size: 1.125rem;
      line-height: 1.318rem;
      }
  .biography {
      &__inner {
            height: 952px;
            flex-direction: column;
            margin-bottom: 80px;
            max-width: 100%;
      }

        &__section-title {
            transform: none;
            position: absolute;
            left: 69%;
      }
        &__inner picture {
            order: 3;
      }
        &__img {
            width: 100%;
            height: auto;
            order: 3;
      }
        &__content {
            line-height: 1.318rem;
            width: 100%;
      }
        &__content-subtitle {
            @include font ("Playfair Display", 400, 4rem, 5.332rem);
            order: 3;
            padding: 0 15px 0 18px;
      }
        &__content-subtitle br {
            display: none;
      }
        &__rectangle {
            display: none;
      }
        &__quote {
            @include font ("Bitter", 300, 1.875rem, 2.25rem);
            margin-bottom: 50px;
            padding: 0 15px 0 18px;
      }
    }
    .biography-desktop-version {
            display: none;
      }
    .biography__mobile-version {
        padding: 0 15px 0 18px;
        margin-bottom: 57px;
        position: relative;
      }
    .designers {
        &__title {
            margin-left: 16px;
            margin-bottom: 32px;
      }
        &__inner {
            margin-bottom: 80px;
            width: 100%;
            gap: 16px;
            overflow-x: auto;
      }
        &__content-wrp {
            padding-left: 0;
      }
        &__content-img {
            width: 310px;
            height: 438px;
      }
        &__content-subtitle {
            font-size: 16px;
            line-height: 18.75px;
            padding-top: 24px;
      }
        &__content-subtitle_bold {
            font-size: 16px;
            line-height: 18.75px;
      }
    }
    .testimonials {
        &__inner {
            margin-bottom: 80px;
            grid-template-columns: 50% 50%;
            grid-template-rows: 21px 532px 30px 35px;
            row-gap: 28px;
            padding-left: 16px;
            padding-right: 16px;
      }
        &__site {

          &_first {
            transform: none;
            grid-column: 1/2;
            grid-row: 4/5;
          }
      
          &_second {
            transform: none;
            grid-column: 2/3;
            grid-row: 3/4;
            padding-left: 10px;
          }
          &_third {
            transform: none;
            grid-column: 1/2;
            grid-row: 3/4;
      }
    }
        &__img {
            display: none;
      }
        &__title {
            transform: none;
            position: static;
            grid-column: 2/3;
            grid-row: 1/2;
            justify-self: end;
      }
        &__content {
            grid-column: 1/3;
            grid-row: 2/4;
            display: block;
      }
        &__content-blockquote {
            display: none;

          &_mobile {
            @include font ("Bitter", 300, 1.875rem, 2.25rem);
            margin-bottom: 24px;
          }
      }
        &__content-img {
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
      }
    }
    .strong-points {
        &__inner {
            margin-bottom: 200px;
      }
        &__title {
            margin-left: 3.6%;
      }
        &__wrp {
            display: grid;
            margin-left: 3.6%;
            grid-template-columns: 201px 310px 310px;
            grid-template-rows: 450px;
            -moz-column-gap: 17px;
            column-gap: 17px;
      }
        &__img {
            width: 310px;
            height: 450px;
      }
        &__content {
            width: 201px;
            order: -1;
            align-items: flex-start;
      }
        &__content-title {
          @include font ("Playfair Display", 400, 2.875rem, 1.813rem);
            padding-top: 10px;
            margin-bottom: 17px;
            height: 46px;
      }
        &__item {
            font-size: 1.5rem;
            line-height: 1.8rem;
            margin-bottom: 8px;
            margin-left: 16px;
      }
        &__item:last-child {
            margin-bottom: 0;
      }
        &__img_last {
            display: none;
      }
    }
    .footer {
        &__inner {
            width: 100%;
            height: 193px;
            flex-direction: column;
            padding: 0;
            justify-content: flex-start;
      }
        &__logo {
            width: 92.9%;
            order: -1;
            text-align: end;
            margin-top: 45px;
      }
        &__copyright {
            width: 92.9%;
            text-align: start;
            line-height: 1.172rem;
      }
        &__contacts {
            width: 92.9%;
            margin-bottom: 8px;
      }
        &_contacts-link {
            font-size: 1rem;
            text-decoration: underline;
            text-transform: uppercase;
      }
    }
    .modal {
      &__content {
        width: 100%;
        max-width: 361px;
        height: 593px;
      }
    }
    .form-btn {
      width: 151px;
      height: 54px;
    }
    }
@media (min-width: 769px) {
    .biography__mobile-version {
        display: none;
      }
    .biography__content-subtitle span {
        display: none;
      }
    .testimonials__content-blockquote_mobile {
        display: none;
      }
    .header__menu-link {
        font-size: 1.45rem;
      }
    .modal__content {
        width: 100%;
        max-width: 498px;
        height: 588px;
    }
  }
@media (min-width: 350px) and (max-width: 450px) {
    .header__menu-item {
        width: 40px;
      }
    .hero-title {
        text-align: center;
      }
    .biography__content-subtitle {
        text-align: center;
      }
    .biography__img {
        height: auto;
      }
    .testimonials-content-img {
        max-height: 50%;
      }
    .testimonials-content-blockquote_mobile {
        max-height: 40%;
      }
      .modal__content {
        width: 100%;
        max-width: 290px;
        height: 600px;
    }
    }
@media (min-width: 500px) and (max-width: 768px) {
    .biography__img {
        height: 30rem;
      }
    }
