.body {
    font-family:'Bitter';
    font-size: 16px;
}

@font-face {
    font-family: 'Bitter';
    src: local('Bitter-Regular');
    src: url(../fonts/Bitter-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Bold');
    src:url('../fonts/Roboto-Bold.woff') format('woff'),
    url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Regular');
    src:url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Medium');
    src:url('../fonts/Roboto-Medium.woff') format('woff'),
    url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    }
@font-face {
    font-family: 'Roboto';
    src: local('Roboto-Black');
    src:url('../fonts/Roboto-Black.woff') format('woff'),
    url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    }

.site-navigation-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: black;
    text-decoration: none;
}
.hero {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.hero-title {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 86px;
    line-height: 103px;
    }

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.biography-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.biography-content-subtitle {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 86px;
    line-height: 115px;
}

.biography-content-quote {
    font-family:'Bitter';
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
}
.designers-content{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 19px;
}
.designers-content-subtitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 19px;
}

.designers-content-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 19px;
}

.testimonials-site-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 19px;
}
.testimonials-site-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 19px;
    color: black;
    text-decoration: none;
}
.testimonials-content-blockquote {
    font-size: 32px;
    line-height: 38px;
}
.strong-points-title {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 86px;
    line-height: 86px;
}
.strong-points-item {
    font-size: 34px;
    line-height: 41px;
}
.footer-contacts-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 26px;
    text-decoration: none;
}
.footer-logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.footer-logo-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}
.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 19px;
}

